{% extends "manage.html" %}
{% block manage %}
    <main class="content">
				<div class="container-fluid p-0">
					<div class="row">
					</div>

					<div class="row">

					</div>

					<div class="row">
						<div class="col-12">
							<div class="card flex-fill">
								<div class="card-header">
									<div class="card-actions float-right">
										<div class="dropdown show">
											<a href="#" data-toggle="dropdown" data-display="static">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
            </a>

											<div class="dropdown-menu dropdown-menu-right">
												<a class="dropdown-item" href="#">Action</a>
												<a class="dropdown-item" href="#">Another action</a>
												<a class="dropdown-item" href="#">Something else here</a>
											</div>
										</div>
									</div>
									<h5 class="card-title mb-0">项目添加</h5>
								</div>
                                <div style="width: 600px;margin-left: 20px;">
                                    <form action="/manage/project_add/" method="post">
                                    {{ forms }}
                                    {% csrf_token %}
                                    <br>
                                    <input type="submit" class="btn btn-primary">
                                </form>
                                </div>

{#								<div id="datatables-dashboard-traffic_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer"><div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row"><div class="col-sm-12"><table id="datatables-dashboard-traffic" class="table table-striped my-0 dataTable no-footer" role="grid" aria-describedby="datatables-dashboard-traffic_info">#}
{#								#}
{##}
{#                                    <thead>#}
{#										<tr role="row">#}
{#                                            <th>id</th>#}
{#                                            <th>名称</th>#}
{#                                            <th>状态</th>#}
{#                                            <th>描述</th>#}
{#                                            <th>创建时间</th>#}
{#									</thead>#}
{#									<tbody>#}
{##}
{#                                    </tbody>#}
{#								</table></div></div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="datatables-dashboard-traffic_info" role="status" aria-live="polite">Showing 1 to 8 of 8 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="datatables-dashboard-traffic_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="datatables-dashboard-traffic_previous"><a href="#" aria-controls="datatables-dashboard-traffic" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="datatables-dashboard-traffic" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item next disabled" id="datatables-dashboard-traffic_next"><a href="#" aria-controls="datatables-dashboard-traffic" data-dt-idx="2" tabindex="0" class="page-link">Next</a></li></ul></div></div></div></div>#}
							</div>
						</div>
					</div>

				</div>
			</main>
{% endblock %}