{% extends "manage.html" %}
{% block manage %}
    <main class="content">
				<div class="container-fluid p-0">
					<div class="row">
					</div>

					<div class="row">

					</div>

					<div class="row">
						<div class="col-12">
							<div class="card flex-fill">
								<div class="card-header">
                                    <button onclick="add_task()" type="button" class="btn btn-primary" style="float:right;">创建</button>
									<h5 class="card-title mb-0">项目管理</h5>
								</div>
									<thead>
								<div id="datatables-dashboard-traffic_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer"><div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row"><div class="col-sm-12"><table id="datatables-dashboard-traffic" class="table table-striped my-0 dataTable no-footer" role="grid" aria-describedby="datatables-dashboard-traffic_info">
										<tr role="row">
                                            <th>id</th>
                                            <th>名称</th>
                                            <th>描述</th>
                                            <th>状态</th>
                                            <th>创建时间</th>
                                            <th>操作</th>
									</thead>
									<tbody>
                                    {% for t in tasks %}
                                    <tr>
                                        <td>{{t.id}}</td>
                                        <td>{{t.name}}</td>

                                        {% if t.status == 0 %}
                                        <td>未执行</td>
                                        {% endif %}
                                        {% if t.status == 1 %}
                                            <td>执行中</td>
                                        {% endif %}
                                        {% if t.status == 2 %}
                                            <td>执行完成</td>
                                        {% endif %}
                                        <td>{{t.desc}}</td>
                                        <td>{{t.create_time | date:'Y-m-d H:i:s'}}</td>
                                        <td>
                                            <a href="/task/task_run/{{ t.id }}/">运行</a>
                                            <a href="/task/task_edit/{{ t.id }}/">编辑</a>
                                            <a href="/task/task_del/{{ t.id }}/">删除</a>
                                            <a href="/task/task_log/{{ t.id }}/">日志</a>

                                        </td>
                                    </tr>
                                    {% endfor %}

                                    </tbody>
								</table></div></div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="datatables-dashboard-traffic_info" role="status" aria-live="polite">Showing 1 to 8 of 8 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="datatables-dashboard-traffic_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="datatables-dashboard-traffic_previous"><a href="#" aria-controls="datatables-dashboard-traffic" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="datatables-dashboard-traffic" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item next disabled" id="datatables-dashboard-traffic_next"><a href="#" aria-controls="datatables-dashboard-traffic" data-dt-idx="2" tabindex="0" class="page-link">Next</a></li></ul></div></div></div></div>
							</div>
						</div>
					</div>

				</div>
			</main>
    <script>
    function add_task() {
        window.location.href="/task/task_add/"
    }
    </script>
{% endblock %}